<nav class="navbar navbar-default mm_navbar">
  <div class="container-fluid">
    <div class="mm_logo">
      <%= link_to(image_tag("logo.png", :alt => "Marcadores Mania", :title => "Marcadores Mania"), "/") %> 
    </div>
  </div><!-- /.container -->
</nav><!-- /.navbar -->
